<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons class="ion-margin-start" slot="start">
      <ion-icon style="font-size: 48px;" name="play-circle"></ion-icon>
    </ion-buttons>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-searchbar placeholder="Enter the keyword to search.." [(ngModel)]="searchValue" (ionChange)="filterList()">
    </ion-searchbar>
    <ion-item>
      <ion-label>Search Type</ion-label>
      <ion-select placeholder="Select Filter Type" [(ngModel)]="selectedValue" (ionChange)=selectionChanged()>
        <ion-select-option value="movie">Movies</ion-select-option>
        <ion-select-option value="tv">Tv Shows</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <div *ngIf="searchCardContainer.length > 0">
      <ion-grid fixed=true>
        <ion-row>
          <ion-col *ngFor="let item of searchCardContainer" size-lg="2" size-md="4" size-sm="6" size-xs="6">
            <app-card [title]="item.title" [image]="item.image" [model]="item.modelItem" [voterRating]="item.voterRating"
            (cardEventTrigger)="cardEventListener($event)">
            </app-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>


  </ion-list>

</ion-content>
